/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

/* Loading screen */
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    z-index: 9999;
}

/* App container */
.app-container {
    display: flex;
    min-height: 100vh; /* Ensure app container covers viewport height */
}

/* Sidebar */
.sidebar {
    width: 300px;
    background-color: #ffffff;
    border-right: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Allow sidebar to scroll if content exceeds height */
}

/* Profile section */
.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items and justify content for spacing */
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    max-width: 70px; /* Set maximum width */
    max-height: 70px; /* Set maximum height */
    width: 100%; /* Ensure it takes up full container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    object-fit: cover; /* Maintain aspect ratio and cover entire space */
}

.profile-name {
    font-size: 1.2em;
    margin-right: 10px;
}

.profile-actions {
    position: relative;
}

/* Dropdown styling */
.dropdown {
    position: relative; /* Ensure dropdown content is relative to dropdown */
    margin-left: auto; /* Push the dropdown to the right */
}

.dropdown .dropdown-toggle {
    background-color: transparent;
    color: #007bff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em; /* Adjust font size for three dots */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    width: 160px;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Search bar */
.search-bar {
    padding: 10px 20px;
    border-bottom: 1px solid #cccccc;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

/* Chat room list */
.chat-room-list {
    list-style: none;
    padding: 20px;
     
    flex: 1;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}


.chat-room-list li {
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.chat-room-list li:hover {
    background-color: #e0e0e0;
}

/* Add chat room button */
.add-chat-room {
    background-color: #ff6d2f;
    color: #ffffff;
    border: none;
    padding: 15px;
    cursor: pointer;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: background-color 0.3s ease;
    border-radius: 30%;
    font-size: 1.5em;
}

/* Main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Chat header */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.chat-header #chat-room-name {
    font-size: 1.5em;
}

.chat-options button {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: background-color 0.3s ease;
    background-color: #f89b21;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

/* Chat messages */
.chat-messages {
    flex: 1;
    padding: 20px;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    background-color: #e4dbdb86;
   
     /* Adjust height as per your layout */
    display: flex;
    flex-direction: column; /* Ensure messages stack from bottom to top */
    
    overflow-y: auto; /* Align messages container to bottom */
}
 
.chat-messages .message {
    display: flex;
    align-items: flex-start; /* Align messages to start (top) */
    margin-bottom: 10px;
}

.chat-messages .message.sent {
    justify-content: flex-end; /* Align sent messages to right */
}

.chat-messages .message.received {
    justify-content: flex-start; /* Align received messages to left */
}

.chat-messages .message .message-content {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
}

.chat-messages .message.sent .message-content {
    background-color: #059b26;
    color: #f0e9e9;
}

.chat-messages .message.received .message-content {
    background-color: #be09e2;
    color: #fff;
}

.chat-messages .message .message-time {
    font-size: 0.8em;
    margin-left: 10px;
}

/* Chat input */
.chat-input {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #0b9444;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Modals */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 39%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .message-content {
    white-space: pre-wrap; /* Preserves whitespace and line breaks */
}
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Form label */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Adjust color */
}

/* Form input */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; /* Adjust border color */
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-control:focus {
    outline: none;
    border-color: #007bff; /* Adjust focus border color */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Adjust focus shadow */
}

/* Submit button */
.btn-primary {
    background-color: #f89b21;
    color: #ffffff;
    border: none;/* Adjust text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ef8c41; /* Adjust hover background color */
}

/* Dark mode styles */
.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
}

.dark-mode .sidebar {
    background-color: #333333;
    border-right: 1px solid #444444;
}
.dark-mode .main-content {
    background-color: #2c2c2c;
}

.dark-mode .chat-header {
    background-color: #333333;
    border-bottom: 1px solid #444444;
}

.dark-mode .chat-messages {
    background-color: #2c2c2c;
}

.dark-mode .chat-input {
    background-color: #333333;
    border-top: 1px solid #444444;
}

.dark-mode .chat-messages .message-content {
    background-color: #444444;
}

.dark-mode .chat-messages .message.sent .message-content {
    background-color: #007bff;
    color: #ffffff;
}

.dark-mode .modal-content {
    background-color: #444444;
    color: #ffffff;
}

.dark-mode .modal-content input {
    background-color: #555555;
    color: #ffffff;
    border: 1px solid #666666;
}
a#chat_leave {
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    background-color: #f89b21;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

a#chat_leave:hover {
    background-color: #f67e02; /* Change background color on hover */
}
#chat-messages {
    max-height: 500px; /* Adjust based on your layout */
    overflow-y: auto;
}

/* Styling for individual message blocks */
.message {
    width: 80%; /* Adjust to fit your design */
    max-width: 600px; /* Optional: Set a maximum width */
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}
.modal-body{
background-color: #b0b0b0;
text-decoration: solid;
font-size: larger;
font-weight: bold;

/* text-decoration-thickness: initial;
.message.sent {
    align-self: flex-end;
    background-color: #d4edda; /* Greenish background for sent messages */
}

.message.received {
    align-self: flex-start;
    background-color: #f8d7da; /* Reddish background for received messages */
}

/* Ensure the message content area fits within the message block */
.message-content {
    white-space: pre-wrap; /* Preserve whitespace and newlines */
}

.modal-body{
    background-color: #b0b0b0;
    text-decoration: solid;
    font-size: larger;
    font-weight: bold;
    
    /* text-decoration-thickness: initial;
    .message.sent {
        align-self: flex-end;
        background-color: #d4edda; /* Greenish background for sent messages */
    }